<p>Ajouter une catégorie <a [routerLink]="['add']"><i class="fa-solid fa-circle-plus"></i></a></p>
<div class="container">
    <div *ngIf="items">
        <h2>Catégories</h2>
        <table>
            <thead>
                <th>Nom</th>
                <th>Action</th>
            </thead>
            <tbody >
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>
                        <a [routerLink]="['edit', item.id]"><i class="fa-solid fa-pen"></i></a>
                        <a [routerLink]="['delete', item.id]"><i class="fa-solid fa-circle-minus"></i></a>
                    </td>
                </tr>
            </tbody>  
        </table>
    </div> 
    <div *ngIf="!items">
        <span>Aucune catégorie enregistrée</span>
    </div>
</div>
