<p>Ajouter une nouvelle tâche <a [routerLink]="['add']"><i class="fa-solid fa-circle-plus"></i></a></p>
<div class="container">
    <div *ngIf="items">
        <h2>Todo</h2>
        <table>
            <thead>
                <th>Tâche</th>
                <th>Catégorie</th>
                <th>Action</th>
            </thead>
            <tbody >
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.categorie}}</td>
                    <td>
                        <i class="fa-solid fa-check" (click)="doneTask(item.id, item.name, item.categorie, item.user, item.done)"></i>
                        <a [routerLink]="['edit', item.id]"><i class="fa-solid fa-pen"></i></a>
                        <i class="fa-solid fa-circle-minus" (click)="deleteTask(item.id)"></i>
                    </td>
                </tr>
            </tbody>  
        </table>
    </div>
    <div *ngIf="!items">
        <span>Aucune tâche à faire</span>
    </div> 
    <div *ngIf="doneTaskArray">
        <h2>Done</h2>
        <table>
            <thead>
                <th>Tâche</th>
                <th>Catégorie</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of doneTaskArray">
                    <td>{{item.name}}</td>
                    <td>{{item.categorie}}</td>
                    <td><button (click)="deleteDoneTask(item.id)">Supprimer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!doneTaskArray">
        <span>Aucune tâche faite</span>
    </div>   
</div>
