.container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 300px;
    input, label, select {
        margin-bottom: 10px;
    }
}

.todo {
    display: flex;
    justify-content: space-around;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}