<router-outlet></router-outlet>
<!-- <div class="container">
  <label>Créer user</label>
  <input type="text" [(ngModel)]="user">
  <button (click)="addUser()">Ajouter un utilisateur</button>
  <label>Créer catégorie</label>
  <input type="text" [(ngModel)]="categorie">
  <button (click)="addCategorie()">Ajouter une catégorie</button>
</div>
<div class="container">
  <label>Créer tâche</label>
  <input type="text" [(ngModel)]="tache">
  <select [(ngModel)]="userTask" >
    <option *ngFor="let item of userArray" [value]="item.name">{{item.name}}</option>
  </select>
  <select [(ngModel)]="catTask" >
    <option *ngFor="let item of catArray" [value]="item.name">{{item.name}}</option>
  </select>
  <button (click)="addTask()">Ajouter une tâche</button>
</div>
<div class="todo">
  <div>
    <h2>Todo list</h2>
    <select [(ngModel)]="userTask" >
      <option *ngFor="let item of userArray" [value]="item.name">{{item.name}}</option>
    </select>
    <button (click)="sortTaskByUser(userTask)">Rechercher</button>
    <input type="text" [(ngModel)]="sortTask">
    <button (click)="sortTaskByCat(sortTask)">Filtrer</button>
    <button (click)="removeSort()">X</button>
    <ul *ngFor="let item of filterTaskByUser" class="test d-block">
      <li>Tâche: {{item.name}}</li>
      <li>Catégorie: {{item.categorie}}</li>
      <li>utilisateur: {{item.user}}</li>
      <button (click)="doneTask(item.id, item.name, item.categorie, item.user, item.done)">Tâche effectué</button>
      <button (click)="deleteTask(item.id)">Supprimer tâche</button>
    </ul>
    <ul *ngFor="let item of filterTaskArray" class="sort d-none">
      <li>Tâche: {{item.name}}</li>
      <li>Catégorie: {{item.categorie}}</li>
      <li>utilisateur: {{item.user}}</li>
      <button (click)="doneTask(item.id, item.name, item.categorie, item.user, item.done)">Tâche effectué</button>
      <button (click)="deleteTask(item.id)">Supprimer tâche</button>
    </ul>
  </div>
  <div>
    <h2>Done</h2>
    <ul *ngFor="let item of doneTaskArray">
      <li>Tâche: {{item.name}}</li>
      <li>Catégorie: {{item.categorie}}</li>
      <li>utilisateur: {{item.user}}</li>
      <button (click)="deleteTaskDone(item.id)">Supprimer tâche</button>
    </ul>
  </div>
</div> -->