<form 
    name="form"
    #f="ngForm" 
    (ngSubmit)="f.form.valid && onSubmit()"
>
    <label>Catégorie</label>
    <input 
        type="text" 
        [(ngModel)]="form.categorie" 
        #categorie="ngModel" 
        name="categorie" 
        required
        minlength="4"
    >
    <div *ngIf="categorie.errors && f.submitted">
        <div *ngIf="categorie.errors?.['required']">
            Le catégorie est requise
        </div> 
        <div *ngIf="categorie.errors?.['minlength']">
            Le catégorie doit faire au minimum 4 caractères
        </div>    
    </div>
    <input type="submit" value="Ajouter">
</form>
