<div class="container">
    <form 
        name="form"
        #f="ngForm" 
        (ngSubmit)="f.form.valid && onSubmit()"
    >
    <div>
        <label>Pseudo</label>
        <input 
            type="text" 
            [(ngModel)]="form.pseudo" 
            #pseudo="ngModel" 
            name="pseudo" 
            required
            minlength="3"
        >
        <div *ngIf="pseudo.errors && f.submitted">
            <div *ngIf="pseudo.errors?.['required']" class="err">
                Le pseudo est requis
            </div> 
            <div *ngIf="pseudo.errors?.['minlength']" class="err">
                Le pseudo doit faire au minimum 5 caractères
            </div>    
        </div>
    </div>
    <div>
        <label>Mot de passe</label>
        <input 
            type="password" 
            name="pwd" 
            [(ngModel)]="form.password" 
            #password="ngModel" 
            required
            minlength="5"
        >
        <div *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']" class="err">
                Le mot de passe est requis
            </div>
            <div *ngIf="password.errors['minlength']" class="err">
                Le mot de passe doit faire au minimum 5 caractères
            </div>
        </div>
    </div>
        <input type="submit" value="Créer un compte">
    </form>
    <p>Vous avez déjà un compte ? Connectez vous <a [routerLink]="['/login']">ici</a></p>
</div>
